<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">táPronto?</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li [ngClass]="{active: isOn('Inicio')}" (click)="goTo('Inicio')"><a>Início</a></li>
        <li [ngClass]="{active: isOn('Profile')}" (click)="goTo('Profile')"><a>Perfil</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li [ngClass]="{active: isOn('Order')}" (click)="goTo('Order')"><a>Pedidos</a></li>
        <li [ngClass]="{active: isOn('Service')}" (click)="goTo('Service')"><a>Serviços</a></li>
        <li [ngClass]="{active: isOn('Help')}" (click)="goTo('Help')"><a>Ajuda</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="padding-top:50px">
        <router-outlet> </router-outlet>
    </div>
  </div>
</div>