<!DOCTYPE html>
<body style="background-color: #f7f7f7; height:100%">
  <section id="logo">
    <a href="#"><img src="../assets/images/logo.png" alt="" /></a>
  </section>
  
  <section class="container">
    <section class="row">
      <form method="post" action="" role="login" (ngSubmit)="login()">
        <div>
          <label>Login</label>
          <input type="text" name="username" required class="form-control" />
        </div>
        
        <div>
          <label>Senha</label>
          <input type="password" name="password" required class="form-control" />
        </div>
      
        <section>
          <button type="submit" name="go" class="btn btn-block">Entrar</button>
          <p><a [routerLink]="['AddUser']">Criar uma nova conta</a></p> 
        </section>
      </form>
    </section>
  </section>
</body>