<h2 class="sub-header">Pedidos</h2>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="#order of orderList" (click)="orderClick(order)">
      <td>{{order.code}}</td>
      <td>{{order.description}}</td>
      <td>{{order.status}}</td>
    </tr>
  </tbody>
   <div *ngIf="orderList == 0" align="center">
  	<h4>Nenhum pedido foi encontrado.</h4>
  </div>
</table>
</div>